.content {
    background: #fff;
    margin-top: 30px;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
}

.content-header {
    border-bottom: 1px solid #f2f3f5;
}

.content-header h2 {
    font-size: 20px;
    color: #4C565C
}

.content-header p {
    font-size: 16px;
    color: #4C565C
}

.content-body {
    background: #f2f3f5;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0 20px;
}


.content-body-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
}

.title-border {
    border-bottom: 1px solid #b3b9c330;
}

.content-body-title h3 {
    font-size: 16px;
    color: #4C565C;
    margin: 0;
}

.content-body-title svg {
    color: #f47b20;
    font-size: 25px;
}

.content-body-item {
    border-top: 1px solid #b3b9c330;
    padding: 15px 0;
}

.content-body-item .form-switch .form-check-input {
    background-color: #f2f3f5;
}

.content-body-item .form-switch .form-check-label {
    color: #4C565C;
    font-size: 14px;
    margin: 0 10px;
}

.form-switch {
    display: flex !important;
}

.form-check-input-ltr {
    margin-left: 0.5em !important;
}

.item-check {
    padding: 20px 0;
}

.item-check .form-check> :last-child {
    margin: 0 5px;
}

.item-check-title h3 {
    color: #4C565C;
    font-size: 12px;
}

.item-checks {
    display: flex;
}

.warning-tip {
    display: flex;
    background: #fff5e5;
    color: #4C565C;
    padding: 10px;
    align-items: center;
    margin-top: 15px;
}

.warning-tip p {
    margin: 0;
    padding: 0 5px;
}

.agreement {
    display: flex;
    padding-top: 15px;
    color: #4C565C;
    font-size: 14px;
}

.agreement span {
    color: #f68d24
}

@media all and (max-width: 576px) {
    .warning-tip p {
        font-size: 8px;
    }
    .agreement {
        font-size: 12px;
    }
    .content-body-title h3 {
        font-size: 13px;
    }
    .content-header h2 {
        font-size: 17px;
    }
    .content-header p {
        font-size: 14px;
    }
}