.footer {
    display: flex;
    justify-content: end;
    padding: 15px;
    background: #fff;
    margin-top: 30px;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.footer .btn-primary {
    background: #f68d24;
    border: #f68d24;
}
.footer .btn {
    margin: 0 5px;
}

@media all and (max-width: 576px) {

    .footer {
        display: none;
    }
}